body{
    text-align:center;
    padding-top:700px;
}
.Tim{
    border-radius: 50%;
    width: 180px;
    }
#welcome{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: linear-gradient(#ff0000 0%,#253bcc 100%);
}
.welcome_inner{
    top: 200px;
    position:relative;
}
.line{
    height: 6px;
    width:70px;
    background-color: green;
    margin: auto;
}
p{
    max-width: 500px;
    margin: 25px auto;
    }
#info_tim{
    padding: 50px;
}

